[submodule "Modules/unbound"]
	path = Modules/unbound
	url = https://github.com/breadwallet/unbound.git
[submodule "Modules/nettle"]
	path = Modules/nettle
	url = https://github.com/breadwallet/nettle.git
[submodule "Modules/dns"]
	path = Modules/dns
	url = https://github.com/wahern/dns.git
[submodule "Modules/digibytewallet-core"]
	path = Modules/digibytewallet-core
	url = https://github.com/SmartArray/digibytewallet-core.git
[submodule "Modules/VisualEffectView"]
	path = Modules/VisualEffectView
	url = https://github.com/efremidze/VisualEffectView.git
[submodule "Modules/Storez"]
	path = Modules/Storez
	url = https://github.com/SwiftKitz/Storez
[submodule "Modules/Kingfisher"]
	path = Modules/Kingfisher
	url = https://github.com/onevcat/Kingfisher.git
[submodule "Modules/MarqueeLabel"]
	path = Modules/MarqueeLabel
	url = https://github.com/cbpowell/MarqueeLabel.git
[submodule "Modules/UserDefaultsStore"]
	path = Modules/UserDefaultsStore
	url = https://github.com/omaralbeik/UserDefaultsStore.git
